:root{
  --primary-color:#010d50;
  --text-ligth-color:#ffffff;
  --secont-text-color:#ffffffbd;
  --secont-color:#0328ee;
  --background-button:#ffffff36 ;
}

body{
  margin:0;
  padding:0;
  width: 100%;
  background: var(--primary-color);
}

.container{
  padding: 44px 100px;
}
.btn{
  border: none;
  padding: 20px 35px;
  border-radius: 35px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 20px 0 0;
}

.btn-primary{
  background-color:var(--secont-color);
  color: var(--text-ligth-color);
}
.btn-transparent{
  background: var(--background-button);
  color: var(--text-ligth-color);
}
.icon{
  display: block;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  margin:0px 10px;
}
.icon-logo{
  background: url(/images/logo.svg);
  height: 30px;
  width: 30px;
}
.logo-principal{
   color: #000;
   font-weight: bold;
}
.logo-principal>span{
  color: var(--text-ligth-color);
}
.nav-header{
  display: grid;
  grid-template-columns: 20% 40% 40%;
}
.nav-header ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 3px;
}

.nav-header ul li a{
  margin: 0px 15px;
  text-decoration: none;
  color: var(--secont-text-color);
  font-weight: 600;
}


.nav-header ul li a.active{
  color: var(--secont-text-color);
}
.nav-header >div:nth-child(3){
  display: flex;
  align-items: center;
  justify-content: end;
}
.hero >div:nth-child(2){
  position: relative;
  height: 700px;
}
.hero >div:nth-child(2)>img{
  height: max-content;
  width: 80%;
  position: absolute;
  right: -100px;
}
.hero .bg-text{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero .bg-text>h1{
  font-size: 60px;
  width: 100%;
  color: var(--text-ligth-color);
}
.hero .bg-text>h4{
  font-size: 17px;
  width: 80%;
  color: var(--secont-text-color);
}
.hero .bg-text>div{
  display: flex;
  margin: 30px 0 0 0;
}
.hero{
  height: max-content;
  display: grid;
  grid-template-columns: 40% 60%;
}
.Empresas{
  display: flex;
  justify-content: space-evenly;
}
.titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.titulo > h5{
  width: 400px;
  height: max-content;
  text-align: center;
}
.informacion{
  display: grid;
  grid-template-columns: 40% 60%;
  width: 80%;
}
.informacion>div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px;
}
.informacion>img{
  width: 90%;
  height: 90%;
}
.status{
  display: flex;
  align-items: center;
}
.status>i{
  margin-top: 20px;
  margin-right: 25px;
}
.reverse{
  position: relative;
  right: -372px;
  height: 100%;
  width: 100%;
}
footer{
  width: 100%;
}